<html>
    <head>
    </head>
    <body>
        <form action="/payment/results">
            <div>
                <label for="apr">APR</label>
                <input id="APR" type="test" placeholder= "E.g. 5.42" name="apr">
            </div>
            <div>
                <label for="nyears">Number of years</label>
                <input id="nyears" type="test" placeholder= "E.g. 5.42" name="nyears">
            </div>
            <div>
                <label for="principal">Principal</label>
                <input id="principal" type="test" placeholder= "E.g. 4.5" name="principal">
            </div>
            <div>
                <button>Calculate monthly payment</button>
            </div>
        </form>
    </body>
</html>