<html>
    <head>
    </head>
    <body>
        <form action="/random/results">
            <div>
                <label for="rand_low">Minimum</label>
                <input id="rand_low" type="test" placeholder= "E.g. 1.5" name="user_min">
            </div>
            <div>
                <label for="rand_high">Maximum</label>
                <input id="rand_high" type="test" placeholder= "E.g. 4.5" name="user_max">
            </div>
            <div>
                <button>Pick random number</button>
            </div>
        </form>
    </body>
</html>