<html>
    <head>
    </head>
    <body>
        <form action="/square_root/results">
            <div>
                <label for="inputno">Enter a number</label>
            </div>
            <div>
                <input id="inputno" type="test" placeholder= "What number do you want to square root?" name="number">
            </div>
            <div>
                <button>Calculate square root</button>
            </div>
        </form>
    </body>
</html>