<html>
    <head>
    </head>
    <body>
        <h1>howdy</h1>
    </body>
    <form action="/square/results">
        <div>
            <label for="inputno">Enter a number</label>
        </div>
        <div>
            <input id="inputno" type="test" placeholder= "What number do you want to square?" name="number">
        </div>
        <div>
            <button>Calculate square</button>
        </div>
    </form>
</html>